body{
    color:gray;
}
.red, .intro{
    color:black;
   border-bottom-style:solid;
   border-color:red;
   border-width:2px;
};
.inter{
    text-decoration: none;
    color:white;
    background-color: yellow;
    padding: 10px;
    display: inline-block;
    border-style:solid;
    border-color: yellow;
    border-width: 2px;
};