body{
    color:gray
}
 .intro{
    color:black;
   border-bottom-style:solid;
   border-color:red;
   border-width:2px;
   padding-bottom: 15px;
}
#button{
  text-decoration: none;
     color:white;
    background-color: #07da63;
    padding: 25px;
    display: inline-block;
    border-radius:35px;
    font-size:15px ;
   
  }
  .inter{
    color:black
  }
  .paragraph{
      color: red;
      font-style: normal;
  }
  

  #btn{
    color:black;
    background-color:whitesmoke;
    padding: 10px;
    display: inline-block;
    border-style:solid;
    border-color: red;
    border-width: 2px 2px 2px 18px;
    text-decoration: none;
     }
 

.mando{
list-style: none;
margin-right: 1150px;
padding:0px

}
.mando img{
  width:30px
}
body{
  font-family: 'Montserrat', 'sans-serif';
}
body{
  font-family:"AlwaysRadio"
}
 