#section .barbie{
    position: relative;
    width: 100%;
    margin: 123px 384px;
  
}

#section .barbie img{
    max-width: 100%;
    border-radius: 22px 22px 0px 0px;
   
}

#section .barbie p{
   
    position: absolute;
    bottom: -30px;
    background-color: pink;
    color: white;
    font-family: sans-serif;
    text-align: left;
    padding: 20px;
    border-radius: 0px 0px 22px 22px;
    
}

#section .barbie a{
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 440%;
    color: white;
}
 
#section .barbie a i{

}

/*...............*/
#nature{
    background-color: whitesmoke;
    
  
}

#nature .sky img{
    width:100%;
    height: 430px;
    border-radius: 3%;
}

  


.tree1{
    position:relative;
}
.tree1 a{
    position:absolute;
    top:45px;
  
}

.sky{
    position: relative;
}

.sky a{
    position:absolute;
    top: 201px;
    left: 270px;
    color: white;
    display: inline-block;
    font-size: 50px;
    box-shadow:gray;
}
/*...............*/
#founders{
    background-color:ivory;
    
}

.wow{
    position:relative;
}
#founders .intro{
    border-left-color: hotpink;
    border-left-style: solid;
    border-left-width: 5px;
    margin-left: 20px;
    position: relative;
}
 .intro::before{
content:'';
display: inline-block;
height:60px;
width: 6px;
background-color: hotpink;
position:absolute;
left:-15px;
top:0px;
}



#founders .intro h4 {
    font-family: sans-serif;
    color: hotpink;
    margin: 20px;
}
#founders .intro h1 {
    font-family: sans-serif;
    color: black;
    margin: 20px;
}

#founders .intro p{
    font-family: sans-serif;
    color: gray;
    margin: 20px;
    
}

#founders .pic1  img{
    width: 90%;
    height: 50%;
    
   
}
#founders .pic1 h1{
    display: inline-block;
    position: absolute;
    bottom: -510px;
    left: 75px;
    background-color: whitesmoke;
    box-shadow: black;
    padding: 10px;
    border-radius: 1px;
}





#founders .pic2  img{
    width: 90%;
    height: 50%;
    
}
#founders .pic2 h1{
    display: inline-block;
    position: absolute;
    bottom: -510px;
    left: 475px;
    background-color: whitesmoke;
    box-shadow: black;
    padding: 10px;
    border-radius: 1px;
}

#founders .pic3  img{
    width: 90%;
    height: 50%;
    
}

#founders .pic3 h1{
    display: inline-block;
    position: absolute;
    bottom: -510px;
    left: 850px;
    background-color: whitesmoke;
    box-shadow: black;
    padding: 10px;
    border-radius: 1px;
}

/*...............*/
#hotel .rooms{
    font-family: sans-serif;
    font-style: inherit;
}

#hotel .comfort{
    position: relative;
}
#hotel .comfort img{
    max-width: 150%;
    border-radius: 1%;
    margin-bottom: 15px;
    
}

#hotel .comfort h3{
 position: absolute; 
 bottom: 0px; 
 left: 0px;
 font-family: sans-serif;
 color: white;
 margin-left: 10px;
  
}


#hotel .luxe{
    position: relative;
}
#hotel .luxe img{
    width: 140%;
    height: 457px;
    margin-left: 157px;
    border-radius: 1%;

}
#hotel .luxe h3{
    position: absolute; 
 bottom: 0px; 
 left: 150px;
 font-family: sans-serif;
 color: white;
 margin-left: 10px;
}

#hotel .grand{
    position: relative;
}
#hotel .grand img{
    width: 100%;
    height: 350px;
    margin-left: 157px;
    border-radius: 1%;
    margin-left: 0px;
    
}

#hotel .grand h3{
    position: absolute; 
 bottom: 0px; 
 left: 10px;
 font-family: sans-serif;
 color: white;
 margin-left: 10px;
}
#hotel .standard{
    position:relative;
}

#hotel .standard img{
    width: 140%;
    height: 350px;
    margin-left: 139px;
    border-radius: 1%;
    margin-left: 17px;
}

#hotel .standard h3{
    position: absolute; 
 bottom: 0px; 
 left: 20px;
 font-family: sans-serif;
 color: white;
 margin-left: 10px;
}

#hotel .apartments{
    position: relative;
}

#hotel .apartments img{
    width: 140%;
    height: 350px;
    margin-left: 157px;
    border-radius: 1%;
    margin-right: 0px;
}
#hotel .apartments h3{
    position: absolute; 
 bottom: 0px; 
 left: 163px;
 font-family: sans-serif;
 color: white;
 margin-left: 10px;
}
