#section .barbie{
    position: relative;
    width: 100%;
    margin: 123px 384px;
  
}

#section .barbie img{
    max-width: 100%;
    border-radius: 22px 22px 0px 0px;
   
}

#section .barbie p{
   
    position: absolute;
    bottom: -30px;
    background-color: pink;
    color: white;
    font-family: sans-serif;
    text-align: left;
    padding: 20px;
    border-radius: 0px 0px 22px 22px;
    
}

#section .barbie a{
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 440%;
    color: white;
}
 
#section .barbie a i{

}

/*...............*/
#nature{
    background-color: whitesmoke;
    
  
}

#nature .sky img{
    width:100%;
    height: 430px;
    border-radius: 3%;
}

  


.tree1{
    position:relative;
}
.tree1 a{
    position:absolute;
    top:45px;
  
}

.sky{
    position: relative;
}

.sky a{
    position:absolute;
    top: 201px;
    left: 270px;
    color: white;
    display: inline-block;
    font-size: 50px;
    box-shadow:gray;
}
/*...............*/
#founders{
    background-color:ivory;
}
#founders .intro{
    border-left-color: hotpink;
    border-left-style: solid;
    border-left-width: 5px;
    margin-left: 20px;
    position: relative;
}
 .intro::before{
content:'';
display: inline-block;
height:60px;
width: 6px;
background-color: hotpink;
position:absolute;
left:-15px;
top:0px;
}



#founders .intro h4 {
    font-family: sans-serif;
    color: hotpink;
    margin: 20px;
}
#founders .intro h1 {
    font-family: sans-serif;
    color: black;
    margin: 20px;
}

#founders .intro p{
    font-family: sans-serif;
    color: gray;
    margin: 20px;
    
}

#founders .pic img{
    width: 90%;
    height: 50%;
    position: relative;
}

